@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

ul, ol{
    list-style: none;
}

:root{
    --color-primario-900: #000000;
    --color-primario-400: #f51928;
    --color-primario-300: #ff4b53;
    --color-primario-000: #ffffff;
}
.header{
    background-color:var(--color-primario-900);
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1373px;
    height: 50px;
    
}

.header__logo-header{
    
    width: 160px;
    height: 30px;
    fill: var(--color-primario-400); 
}
nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: var(--color-primario-300);
}

.header .header__nav-list{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.header__nav-item:hover{
    color: var(--color-primario-300);
    }
    
    .header__nav-item{
    color:var(--color-primario-000);
    padding: 5px;
    filter: contrast(#ffffff);
    }
    

    
    .icon-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 215px;
    height: 50px;
    }

    .header__logo-asus{
    display: flex;
    margin: 0px 17px 0px 0px;
    padding: 0px 50px 0px 0px;
    height: 100%;
    }

.header__logo-asus a{
    width: 80px;
    height: 25.5px;
    padding: 5px;
}

.header_buttons{
    display: flex;
    align-items: center;
    color: var(--color-primario-000);
    gap: 8px;
}
.header_buttons .separator {
  width: 1px;
  height: 1.5rem;
  background-color: #404040;
  align-self: center;
  position: relative;
  top: 50%;
} 

.search{
    border: none;
    border-radius: 50%;
    padding: 1px;
    width: 24px;
    height: 24px;
    font-size: 100%;
    background-color: #000000;
    color: var(--color-primario-000);
    gap: 8px;
}

.account{
padding: 10px;
background-color:black;
border: none;
color: white;
}

.shop{
padding: 10px;
background-color:black;
border: none;
text-decoration: none;
color: white;

}

.shop:hover{
    color: var(--color-primario-300);
    background-color: black;
}

.search:hover{
    color: var(--color-primario-300);
}

.account:hover{
    color:var(--color-primario-300);
    background-color: black;
}



